body {
    /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
    background: linear-gradient(110deg, rgb(180, 204, 248) 60%, rgb(223, 90, 90) 60%);
    background-repeat: no-repeat;
}

.devinfo {
    opacity: 1 !important;
}

.text {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    margin-bottom: 10px;
}

.devpic {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* @media (max-width:450px) {
    .infocontainer {
        transform: scale(0.5);
        position: absolute;
    }
}
 */

@media (max-width:400px) {
    .text {
        font-size: 12px;
        margin-bottom: 10px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bolder;
    }
    body {
        background-image: url("https://s3-ap-southeast-1.amazonaws.com/blogimages.crownit.in/1642933853_164293356694008390.png") !important;
        margin-bottom: 0;
    }
}
